.chatContainer {
  display: flex;
  flex-direction: column;
  margin: 2.5vh auto 0.5vh;
  justify-content: space-between;
  overflow-x: hidden;
}

.chatBox {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  flex-wrap: nowrap;
}

.chatHistoryContainer :first-child {
  border-top-left-radius: var(--bs-border-radius);
  border-top-right-radius: var(--bs-border-radius);
}

.chatHistoryContainer :last-child {
  border-bottom-left-radius: var(--bs-border-radius);
  border-bottom-right-radius: var(--bs-border-radius);
}
