.chatMessage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
}

.chatMessageHuman {
  align-items: end;
  justify-content: flex-end;
  background-color: var(--bs-primary-semi-light);
}

.chatMessageAI {
  justify-content: flex-start;
  background-color: var(--bs-primary-light);
}

.chatMessageHuman p,
.chatMessageAI p {
  background-color: inherit;
  margin: 0;
  padding: 8px 16px;
  word-break: break-word;
  text-align: left;
}
