.chatFormContainer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  max-height: 12rem;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 5vh;
  width: 100%;
}

.textAreaWrapper {
  margin: 0.5rem 0.5rem 0 0;
  width: 100%;
}

.textArea {
  max-height: 12rem;
}

.messageButton {
  align-self: end;
}
