.chatContainer {
  display: flex;
  flex-direction: column;
  height: 95vh;
  margin: 2.5vh auto;
  justify-content: space-between;
  overflow-x: hidden;
}

.chatBox {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: nowrap;
}

.chatHistoryContainer :first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.chatHistoryContainer :last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.textAreaContainer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  max-height: 12rem;
  margin: 0.5rem 0;
  justify-content: space-between;
  width: 100%;
}

.textAreaWrapper {
  margin: 0.5rem 0.5rem 0 0;
  width: 100%;
}

.textArea {
  max-height: 12rem;
}

.messageButton {
  align-self: end;
}
