.navContainer {
  display: flex;
  flex-direction: column;
  height: 95vh;
  margin: 2.5vh auto;
  justify-content: space-between;
  overflow-x: hidden;
}

.navbar {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: nowrap;
}

.profileButton button {
  color: gray;
}

.profileButton button:hover {
  color: var(--bs-neutral-light);
}

.profileButton button::before {
  display: none !important;
}
.profileButton button::after {
  display: none !important;
}
