// Set custom theme colors before importing Bootstrap
$primary: #5197e1;
$secondary: #ffd147;

// Create our own map to merge with Bootstrap's $theme-colors
// Note that for complete usage, we need to apply utility functions so that we have complementary colors
$custom-colors: (
  "tertiary": #d81159,
);

@import "../node_modules/bootstrap/scss/bootstrap";
// Merge the map
$theme-colors: map-merge($theme-colors, $custom-colors);

// Add additional default code here
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
